version: "3.9"

services:
  mongodb:
    image: mongo:7
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_DB: analytics
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  airflow:
    build: ./airflow
    container_name: airflow
    ports:
      - "8080:8080"
    depends_on:
      - postgres
      - mongodb
    environment:
      AIRFLOW__CORE__EXECUTOR: SequentialExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres:5432/analytics
      AIRFLOW__CORE__LOAD_EXAMPLES: "false"
    command: ["standalone"]

volumes:
  mongo_data:
  postgres_data:
